@font-face {
    font-family: SCDream1;
    src: url(/Fonts/SCDream1.otf);
}

@font-face {
    font-family: SCDream2;
    src: url(/Fonts/SCDream2.otf);
}

@font-face {
    font-family: SCDream5;
    src: url(/Fonts/SCDream5.otf);
}

@font-face {
    font-family: SCDream8;
    src: url(/Fonts/SCDream8.otf);
}

@font-face {
    font-family: Jost;
    src: url(/Fonts/Jost-VariableFont_wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.top-nav-li li a:hover {
    color: #fbae42;
}

.bottom-nav-li li a:hover {
    color: #fbae42;
}

.logo {
    padding-left: 6%;
    display: flex;
    align-items: end;
    gap: 5px;
    padding-bottom: 10px;
    width: 80%;
}

.logo1 {
    width: 25%;
}

.logo2 {
    width: 20%;
}

.top-nav-li>li {
    color: white;
    list-style-type: none;
}

.top-nav-li {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    letter-spacing: 1px;
    gap: 12px;
}

.top-nav-li>button {
    margin: 4px;
}

.top-nav-li {
    font-family: 'Jost';
    font-size: .7vw;
}

a {
    color: white;
    text-decoration: none;
}

.border-button {
    height: 30px;
    width: 12%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    color: white;
    border: 1px solid #fbae42;
    background-color: black;
    justify-content: center;
    align-items: center;
    font-family: 'SCDream2';
    font-size: .7vw;
    letter-spacing: 1px;
}

.filled-button {
    height: 30px;
    width: 12%;
    border-radius: 10px;
    background-color: #fbae42;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    font-family: 'SCDream5';
    font-size: .7vw;
    letter-spacing: 1px;
}

.bottom-nav {
    background-color: #191919;
    border-top: 1px solid #fbae42;
    border-bottom: 1px solid #fbae42;
}

.bottom-nav-li {
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
    padding: 0.6%;
    font-family: 'Jost';
    font-size: .8vw;
    gap: 30px;
}


.left-container>button {
    margin: .3%;
    padding: 0.5%;
    width: 100%;
    height: 38px;
    justify-content: center;
    align-items: center;
    display: flex;

    letter-spacing: 2px;
}

.grdnt-btn {
    color: white;
    background: rgb(196, 103, 11);
    background: linear-gradient(180deg, rgba(196, 103, 11, 1) 0%, rgba(56, 29, 1, 1) 50%, rgba(23, 14, 4, 0.8) 100%);
    border: none;
    font-family: 'Jost';
    font-size: .6vw;

}

.bnw-btn:hover {
    background: linear-gradient(180deg, rgba(196, 103, 11, 1) 0%, rgba(56, 29, 1, 1) 50%, rgba(23, 14, 4, 0.8) 100%);
}

.bnw-btn-2:hover {
    background: linear-gradient(180deg, rgba(196, 103, 11, 1) 0%, rgba(56, 29, 1, 1) 50%, rgba(23, 14, 4, 0.8) 100%);
}

.bnw-btn {
    color: white;
    background: rgb(82, 80, 79);
    background: linear-gradient(180deg, rgba(82, 80, 79, 1) 0%, rgba(30, 28, 27, 1) 50%, rgba(82, 80, 79, 1) 100%);
    border: none;
    font-family: 'Jost';
    font-size: .6vw;

}

.bnw-btn-2 {
    color: white;
    background: rgb(63, 62, 61);
    background: linear-gradient(180deg, rgba(63, 62, 61, 1) 0%, rgba(30, 28, 27, 1) 50%, rgba(63, 62, 61, 1) 100%);
    border: none;
    font-family: 'Jost';
    font-size: .6vw;
}

.main-container {
    display: flex;
}

.left-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-banner {
    height: 100%;
    width: 100%;
    display: flex;
}

.left-banner>video {
    height: 100%;
    width: 50%;
    display: flex;
}

.left-minislot-banner {
    width: 100%;
    display: flex;
}

video {
    width: 100%;
}

.search_wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.search-icon {
    width: 5%;
    margin: 1%;
    padding: 0.2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search__field {
    display: flex;
    width: 90%;
    background-color: #000000;
    padding: 10px;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid #383838;
}

.sports-menu {
    width: 100%;
    gap: 1px;
    padding-top: 6px;

}

.btn-container>img {
    width: 7%;
}

.nba {
    width: 4% !important;
}

.sports-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    background: rgb(38, 38, 38);
    background: linear-gradient(180deg, rgba(38, 38, 38, 1) 0%, rgba(32, 32, 32, 1) 100%);
}

.sports-btn:hover {
    background: #000000;
}

.flag-btn:hover {
    color: #fbae42;
    background: #000000;
}

.flag-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #151515;
    padding: 0px 25px;
}

.flag-btn-dropdwn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    padding: 0px 40px;
    font-family: 'Jost';
}

.count {
    color: #fbae42;
    font-family: 'Jost';
    font-size: .6vw;
}

.count-light {
    color: white;
    font-family: 'Jost';
    font-size: .6vw;
}

.sports-name {
    color: #fbae42;
    padding-left: 8px;
    font-family: 'Jost';
    font-size: .7vw;
}

.country-name {
    padding-left: 8px;
    color: #f1f1f1;
    font-family: 'Jost';
    font-size: .6vw;
}

.btn-container {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
}

p {
    color: white;
}


#left {
    width: 16.5%;
    padding-right: 0.5%;
    padding-top: 0.3%;
}

#right {
    width: 16.5%;
    padding-left: 0.5%;
    padding-top: 0.3%;
}

#center {
    width: 67%;
    padding-top: 0.3%;
    display: flex;
    flex-direction: column;
}

.center-left {
    width: 50%;
}

.center-game-container {
    display: flex;
    gap: 5px;
}

.sports-center-container {
    background-color: #202020;

}

.sports-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sports-header {
    background-color: #303030;
    color: #ffffff;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0%;
    padding: 0.5%;
}

.sports-header>h5 {
    font-family: 'SCDream2';
    font-size: .8vw;
}

.game-menu-container {
    padding: 0.2% 0.8%;
    width: 100%;
}

.game-btn-container {
    background-color: #171717;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #202020;
    width: 100%;
}

.game-menu-btn {
    position: relative;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.game-menu-btn:hover {
    border: 1px solid #fbae42;
    position: relative;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 10%;
}

.game-menu-btn-active {
    border: 1px solid #fbae42;
    position: relative;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 8%;
}

.sports-icon {
    width: 80%;
}

.game-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.game-menu-btn>p {
    font-family: 'Jost';
    font-size: 0.5vw;
    color: #FBAE42;
}

.game-menu-btn-active>p {
    font-family: 'Jost';
    font-size: 0.5vw;
    color: #FBAE42;
}

.game-count {
    position: absolute;
    top: 15%;
    right: 25%;
    font-family: 'SCDream5' !important;
    background-color: #000000;
    color: #0085FE !important;
    font-size: 0.7vw !important;
}

.bonus-box-container {
    background-color: #171717;
    display: flex;
    gap: 25px;
    padding: 2%;
    width: 100%;
}

.bonus-div-container {
    width: 100%;
}

.dividends-container {
    width: 10%;
    display: flex;
}

.bonus-dividends {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    gap: 10px;
    background-color: #171717;
}

.bonus-box {
    border: 1px solid #fbae42;
    padding: 1%;
    color: #fbae42;
    font-family: 'Jost';
    font-size: .6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bonus-box>p {
    color: #fbae42;
}

.sort-btn-container {
    display: flex;
    padding: 2%;
}

.popularity-sort {
    background-color: #fbae42;
    padding: 1.5%;
    font-family: 'SCDream8';
    font-size: 0.5vw;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timezone-sort {
    background-color: #000000;
    color: #ffffff;
    padding: 1.5%;
    font-family: 'SCDream5';
    font-size: 0.5vw;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-headline-container {
    width: 100%;
    padding: 0.8% 0%;
    border-top: 3px solid #202020;
    border-bottom: 3px solid #202020;
    background-color: #171717;
}

.match-headline {
    background-color: #000000;
    display: flex;
    align-items: center;
    padding: 0.5%;
}

.match-headline>* {
    font-family: 'Jost';
    font-size: 0.5vw;
    padding: 0.8%;
    color: white;
}

.headline-match {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headline-gamecount {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.date-time-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    background-color: #171717;
}

.date-time {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'jost';
    font-size: 0.6vw;
    background-color: #262626;
    padding: 1%;
}

.add-bet-option-active {
    width: 25%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    background-color: #fbae42;
    color: #000000;
    font-family: 'SCDream8';
    font-size: 0.6vw;
}

.add-bet-option {
    width: 25%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    font-family: 'SCDream2';
    font-size: 0.6vw;
}

.match-container {
    padding: 0% 0.8%;
    padding-bottom: 0.8%;
}

.match-headline>img {
    width: 5%;
}

.flag {
    width: 20%;
}

.arrow {
    width: 7%;
    height: 1%;
}

.match-bg-container {
    background-color: #171717;
    padding: 0.5%;
}

.overunder-match-container {
    display: flex;
    gap: 4px;
    padding: 0.4%;
    width: 100%;
}

.text-left {
    display: flex;
    align-items: center;
    padding-left: 2%;
    gap: 10px;
}

.text-right {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2%;
    gap: 10px;
}

.text-right-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2%;
    gap: 10px;
}

.text-left>p {
    font-family: 'Jost';
    font-size: 0.6vw;
}

.text-right>p {
    font-family: 'Jost';
    font-size: 0.6vw;
}

.text-right-btn>p {
    font-family: 'Jost';
    font-size: 0.6vw;
}

.overunder-text {
    width: 10%;
    color: #fbae42;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
    background-color: #000000;
    width: 10%;
}

.overunder-match-container>p {
    font-family: 'Jost';
    font-size: 0.7vw;
}

.overunder-left-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    width: 40%;
}


.overunder-center-btn {
    width: 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    font-family: 'Jost';
    font-size: 0.6vw;
    color: #ffffff;
}

.overunder-right-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    width: 40%;
}


.overunder-match-container>button {
    background: rgb(82, 80, 79);
    background: linear-gradient(180deg, rgba(82, 80, 79, 1) 0%, rgba(30, 28, 27, 1) 50%, rgba(82, 80, 79, 1) 100%);
}


.overunder-left-btn:hover {
    background: rgb(196, 103, 11);
    background: linear-gradient(180deg, rgba(196, 103, 11, 1) 0%, rgba(56, 29, 1, 1) 50%, rgba(23, 14, 4, 0.8) 100%);
}

.overunder-center-btn:hover {
    background: rgb(196, 103, 11);
    background: linear-gradient(180deg, rgba(196, 103, 11, 1) 0%, rgba(56, 29, 1, 1) 50%, rgba(23, 14, 4, 0.8) 100%);
}

.overunder-right-btn:hover {
    background: rgb(196, 103, 11);
    background: linear-gradient(180deg, rgba(196, 103, 11, 1) 0%, rgba(56, 29, 1, 1) 50%, rgba(23, 14, 4, 0.8) 100%);
}



.highlight {
    color: #fbae42;
    padding: 6px;
}

.center-right {
    width: 50%;
}

.center-right-container {
    background-color: #171717;
    padding: 0.2% 0.8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match-info-bg {
    display: flex;
}

.match-info-bg > img {
    width: 100%;
}

.Game_API {
    display: flex;
}

.Game_API > img{
    width: 100%;
}



.live-result-container {
    display: flex;
    flex-direction: column;
}

.result-header {
    padding: 1%;
    background-color: #333333;
    border: 1px solid #5c5c5c;
    border-bottom: none;
}

.result-header-text {
    font-family: 'SCDream5';
    font-size: 0.6vw;
    letter-spacing: 1px;
    color: #fbae42;
}

.result-btn-container {
    display: flex;
    background-color: #000000;
    width: 100%;
    padding: 1%;
    gap: 5px;
}

.result-btn-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33.33%;
    background-color: #1f1f1f;
    padding: 1%;
    font-family: 'Jost';
    font-size: 0.6vw;
    padding: 2%;
}

.result-btn-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33.33%;
    background-color: #1f1f1f;
    font-family: 'Jost';
    font-size: 0.6vw;
    padding: 2%;
}

.result-btn-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33.33%;
    background-color: #1f1f1f;
    font-family: 'Jost';
    font-size: 0.6vw;
    padding: 2%;
}

.result-left > span {
    color: #fbae42;
}

.ot-result-btn-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: #1f1f1f;
    padding: 1%;
    font-family: 'Jost';
    font-size: 0.6vw;
    padding: 2%;
}

.ot-result-btn-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: #1f1f1f;
    font-family: 'Jost';
    font-size: 0.6vw;
    padding: 2%;
}



/* right */
.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%;
}

.acc-left {
    width: 30%;
}

.acc-right {
    width: 70%;
}

.account-icon {
    width: 85%;
}

.user,
.amount,
.point {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 2%;
}

.user-out {
    display: flex;
    width: 100%;
    gap: 5px;
}

.user {
    width: 60%;
    background-color: #272727;
    padding: 2.5%;
}

.user>p {
    color: #0085FE;
    font-family: 'Jost';
    font-size: 0.75vw;
}

.logout>p {
    font-family: 'Jost';
    font-size: 0.7vw;
}

.amount>p {
    font-family: 'Jost';
    font-size: 0.7vw;
}

.point>p {
    font-family: 'Jost';
    font-size: 0.7vw;
}

.user-total {
    color: #FBAE42;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    width: 40%;
    padding: 2%;
    margin: 2%;
}

.amount {
    width: 100%;
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    background-color: #1B1B1B;
}

.point {
    width: 100%;
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    background-color: #1B1B1B;
}

.betslip-container {
    background-color: #272727;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 10px;
    margin: 2px
}

.betslip {
    width: 100%;
    padding: 5px;
    border: 1px solid #7e5721;
    border-radius: 10px;
}

.betslip-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.betslip-title>img {
    padding-right: 10px;
    width: 10%;
}


.betslip-title>p {
    font-size: 'Jost';
    font-size: 0.8vw;
}

.betslip-gage {
    width: 100%;
}

.bet>img {
    width: 20%;
}

.betslip>p {
    color: #f1f1f1;
    text-align: center;
    background-color: #1b1b1b;
}

.bet {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
    font-family: 'Jost';
    font-size: .8vw;
}

.bet>img {
    padding-right: 10px;
}

.bet-amount {
    background-color: #000000;
    color: #ffffff;
    justify-content: center;
    text-align: end;
    padding: 6px 20px;
    border-radius: 5px;
    font-family: 'Jost';
    font-size: .7vw;
}

.betting-btn {
    padding: 2%;
    margin: 1%;
    border-radius: 5px;
    color: white;
    background-color: #000000;
    justify-content: center;
    text-align: center;
    font-family: 'Jost';
    font-size: .6vw;
}

.betting-btn:hover {
    background-color: #fbae42;
}

.betslip>div {
    font-family: 'Jost';
    font-size: .8vw;
    letter-spacing: 1px;
}

.details {
    padding: 8% !important;
    font-family: 'Jost';
    font-size: 0.7vw !important;
}

.betting-box>p,
.total {
    font-family: 'Jost';
    font-size: .7vw;
}

.betting-amount-btn {
    display: flex;
    align-items: center;
    padding: 2px;
}

button {
    border: none;
    outline: none;
}

.place-bet {
    background-color: #fbae42;
    color: #000000;
    text-align: center;
    padding: 3%;
    font-family: 'SCDream8';
    font-size: .7vw;
    letter-spacing: 1px;
}

.cancel {
    color: white;
    background-color: #000000;
    text-align: center;
    padding: 3%;
    font-family: 'SCDream5';
    font-size: .7vw;
    letter-spacing: 1px;
}

.betting-amount-btn>button,
div {
    width: 100%;
}

.betting-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #000000;
}

.total {
    color: #ff9000;
}

.socials {
    width: auto;
}

.sports-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.banner-container-m,
.menu-container-m,
.top-nav-m,
.bottom-nav-m,
.socials-m {
    display: none;
}

@media only screen and (max-width: 600px) {

    #left,
    #right,
    .logo2,
    .top-nav-li,
    .bottom-nav-li,
    .bottom-nav-m,
    .bottom-nav,
    .announcement-container,
    .center-container,
    .game-banner,
    .img-footer {
        display: none;
    }

    .banner-container-m,
    .menu-container-m,
    .top-nav-m,
    .bottom-nav-m,
    .socials-m {
        display: flex;
    }

    .menu-icon-m,
    .refresh-icon-m {
        width: 50%;
        justify-content: center;
    }

    .top-nav {
        align-items: center;
    }

    .logo1 {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #center {
        width: 100%;
    }

    .sports-header>h5 {
        font-family: 'SCDream2';
        font-size: 2vw;
    }

    .game-btn-container {
        display: flex;
        justify-content: center;
    }

    .sports-icon {
        width: 80%;
    }

    .game-count {
        font-family: 'Jost';
        font-size: 5vw;
    }

    .bonus-box>p {
        font-family: 'Jost';
        font-size: 1.5vw;
    }

    .close-all-btn {
        font-family: 'SCDream5';
        font-size: 1.3vw;
        padding: 1%;
    }

    .match-headline>img {
        width: 5%;
    }

    .flag {
        width: 15%;
    }

    .arrow {
        width: 5%;
        height: 1%;
    }

    .text-left>p {
        font-family: 'Jost';
        font-size: 1.5vw;
        padding: 1%;
    }

    .text-right>p {
        font-family: 'Jost';
        font-size: 1.5vw;
        padding: 1%;
    }

    .text-right-btn>p {
        font-family: 'Jost';
        font-size: 1.5vw;
        padding: 1%;
    }

    .odds-match-container>p {
        font-family: 'Jost';
        font-size: 1.3vw;
        padding: 1%;
    }

    .handicap-match-container>p {
        font-family: 'Jost';
        font-size: 1.5vw;
        padding: 1%;
    }

    .overunder-match-container>p {
        font-family: 'Jost';
        font-size: 1.5vw;
        padding: 1%;
    }

    .odds-center-btn {
        font-family: 'Jost';
        font-size: 1.5vw;
        padding: 1%;
    }

    .handicap-center-btn {
        font-family: 'Jost';
        font-size: 1.3vw;
        padding: 1%;
    }

    .overunder-center-btn {
        font-family: 'Jost';
        font-size: 1.3vw;
        padding: 1%;
    }

}